avatar-element {
  display: contents;
  --brightness: 1;
  --name-plate-opacity: 1;
}

avatar-element:not(:hover):not([data-speaking]) {
  --brightness: 0;
  --name-plate-opacity: 0;
}

.avatar-button {
  width: 200px;
  height: 200px;
  padding: 0;
  background: none;
  border: none;
  position: relative;

  svg {
    filter: brightness(var(--brightness));
    transition: filter 0.2s ease-out;
  }

  .name-plate {
    margin-inline: auto;
    width: max-content;
    padding: 4px 16px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.725);
    color: white;
    border-radius: 40px;

    opacity: var(--name-plate-opacity);
    transition: opacity 0.2s ease-out;
  }
}
