avatar-element {
  display: contents;
}

.avatar-button {
  width: 200px;
  height: 200px;
  padding: 0;
  background: none;
  border: none;
  position: relative;

  .name-plate {
    margin-inline: auto;
    width: max-content;
    padding: 4px 16px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.725);
    color: white;
    border-radius: 40px;
  }
}
