/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  isolation: isolate;
}

:root {
  color-scheme: dark;

  --header-z: 2;
  --danmaku-z: 1;
}

body {
  font-size: 14px;
  background-color: black;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body {
  overflow: clip;
}

* {
  outline-offset: calc(-1 * var(--debug-border-width));
}

.app-layout {
  position: relative;
  outline: red solid var(--debug-border-width);
  min-height: 100vh;
  overflow: clip;
  --ui-opacity: 0.25;
  --debug-border-width: 0px;
  --bottom-height: calc(100vh - 100vw * 9 / 16);
  --video-opaticy: 1;
  --trailer-opacity: 0;
  --caption-width: calc(100vw - 100vw * 9 / 16);
  --caption-padding: 2vw;
  --canvas-color: #333;

  &[data-mode="debug"] {
    --debug-border-width: 1px;
  }
  &[data-mode="presenting"] {
    --ui-opacity: 0;
    --canvas-color: #222;
  }

  &[data-stage="trailer"] {
    --headroom-height: calc((100vh - 100vw * 9 / 16) / 2);
    --bottom-height: calc((100vh - 100vw * 9 / 16) / 2);
    --video-opaticy: 0;
    --trailer-opacity: 1;
    --caption-width: calc(100vw - 4vw);
    --caption-padding: 1vw 2vw;
  }

  .app-layout__headroom {
    height: var(--headroom-height, 0);
    transition: height 1s ease-in-out;
  }

  .app-layout__float {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100vh - 100vw * 9 / 16);
    /* padding: 2vw 0 2vw 2vw; */
    outline: orange solid var(--debug-border-width);

    video {
      aspect-ratio: 1;
      height: 100%;
      opacity: var(--video-opaticy);
      transition: opacity 1s ease-in;
    }
  }

  .app-layout__upper {
    background-color: var(--canvas-color);
    outline: purple solid var(--debug-border-width);
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  }
  .app-layout__lower {
    background-color: black;
    outline: blue solid var(--debug-border-width);
    height: var(--bottom-height);
    display: grid;
    justify-content: center;
    transition: height 1s ease-in-out;
  }

  &[data-stage="trailer"] {
    .app-layout__caption-container {
      text-align: center;
    }
  }

  .app-layout__caption-container {
    outline: white solid var(--debug-border-width);
    height: 100%;
    width: var(--caption-width);
    overflow-y: scroll;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: 16px;
    padding: var(--caption-padding);

    transition: width 1s ease-in-out;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
  }
}

.character-grid {
  display: grid;
  height: 100%;
  gap: 2vw;
  padding: 2vw;

  grid-template-columns: 1fr;

  &:has(> :nth-child(2)) {
    grid-template-columns: 1fr 1fr;
  }

  &:has(> :nth-child(3)) {
    grid-template-rows: 1fr 1fr;

    > :nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }

  &:has(> :nth-child(4)) {
    > :nth-child(3) {
      grid-row: 1 / 2;
    }
  }

  &:has(> :nth-child(5)) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    > * {
      grid-row: span 1;
      grid-column: span 1;
    }
  }
}

[data-stage="customizing"] {
  [data-visible-stage]:not([data-visible-stage="customizing"]) {
    display: none;
  }
}

[data-stage="editing"] {
  [data-visible-stage]:not([data-visible-stage="editing"]) {
    display: none;
  }
}

[data-stage="trailer"] {
  [data-visible-stage]:not([data-visible-stage="trailer"]) {
    display: none;
  }
}

.guests-grid {
  &[hidden] {
    display: none;
  }

  position: absolute;

  display: flex;
  justify-content: center;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;

  animation: slide-up 1s both;
}

@keyframes slide-up {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0);
  }
}

header {
  z-index: var(--header-z);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  opacity: var(--ui-opacity);

  display: grid;
  &:hover {
    opacity: 1;
  }
}

[hidden] {
  display: none !important;
}

.monitor-layout {
  display: inline-grid;
  width: 400px;
  gap: 1px;
  background-color: black;
  grid-auto-flow: column;
  transform-origin: top left;
  transform: scale(0.5);
  position: absolute;
  top: 32px;
  left: 0;
}

.media-card {
  /* position: relative; */
  background: black;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  border-radius: 2vw;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    min-height: 0;
    object-fit: cover;
  }

  p {
    background: black;
    font-size: 2vw;
    padding: 1vw;
    text-align: center;
  }

  &.text-first {
    grid-template-rows: auto 1fr;
  }

  &.text-left {
    p {
      text-align: left;
    }
  }
}

menu {
  padding: 0;
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.trailer-layout {
  opacity: var(--trailer-opacity, 0);
  transition: opacity 3s ease-in;
  transition-delay: 2s;

  @starting-style {
    opacity: 0;
  }

  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

#danmu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  aspect-ratio: 16 / 9;
  width: 100%;
  margin: auto;
  pointer-events: none;
  z-index: var(--danmaku-z);
}

.movie-title {
  position: absolute;
  font-size: 8vw;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5vw;
  text-wrap: balance;

  inset: 0;
  margin: auto;
  place-self: center;

  animation: zoom-in ease-in 1s both;
}

@keyframes zoom-in {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

#timeline {
  height: 100%;
  padding: 2vw;

  > * {
    height: 100%;
  }
}
