/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  isolation: isolate;
}

:root {
  color-scheme: dark;
}

body {
  font-size: 14px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.app-layout {
  display: grid;
  grid-template-columns: auto 1fr;

  > :first-child {
    width: 400px;
  }

  &.full-screen {
    grid-template-columns: 1fr;

    > :first-child {
      display: none;
    }
  }
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  /* make sure the grid can take full width of the container */
  width: 100%;
}

.debug-layout {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  position: relative;

  img,
  video,
  canvas {
    border: 1px solid black;
    width: 400px;
    height: 400px;
  }

  #debug-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border: 1px solid red;
  }
}

[data-stage="playing"] {
  [data-visible-stage]:not([data-visible-stage="playing"]) {
    display: none;
  }
}

[data-stage="customizing"] {
  [data-visible-stage]:not([data-visible-stage="customizing"]) {
    display: none;
  }
}

.media-card {
  position: relative;
  img {
    width: 100%;
    aspect-ratio: 1;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    width: max-content;
    padding: 0.25rem;
  }
}

menu {
  padding: 0;
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

#timeline {
  * {
    display: none;
  }

  *:last-of-type {
    width: 100%;
    display: block;
    opacity: 1;
  }
}
