/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  isolation: isolate;
}

:root {
  color-scheme: dark;
}

body {
  font-size: 14px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.app-layout {
  display: grid;
}

.debug-layout {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  position: relative;

  img,
  video,
  canvas {
    border: 1px solid black;
    width: 400px;
    height: 400px;
  }

  #debug-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border: 1px solid red;
  }
}

menu {
  padding: 0;
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}
